{% extends "base.html" %}

{% block content %}
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 container_div">
		<h2>About me</h2>
		<p>I am a graduate student at the University of Michigan - Ann Arbor pursuing a Master of Health Informatics (MHI) degree within the School of Public Health and the School of Information.  I expect to graduate in May 2016.  I was born and raised in Michigan, with most of my family members living near the Metro Detroit area.  While I'm a Michigander at heart, I've also spent a good deal of my free time exploring the US and the world.</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 container_div">
		<h2>Education</h2>
		<p>I have attended the University of Michigan - Ann Arbor for all of my post-secondary education.  In 2014 I received an undergraduate BA degree with concentrations in both Biopsychology, Cognition, and Neuroscience (BCN) and Political Science.  I also received a minor in German Language.  Throughout my undergraduate degree, I studied several disparate and multifaceted disciplines including the biological basis of human behavior, legislative policy development, environmental politics, and german business principles.  I am currently pursuing a graduate degree in Health Informatics (MHI) at Michigan, with specific focus in program management, data analytics, and patient-facing decision support systems.</p>
	</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container_div">
		<h2>Selected Photography</h2>
		<p><div class="gallery_div"><img alt="Travel Pic 1" src="static/images/pic1.jpg" class="body_img"></img><img alt="Travel Pic 2" src="static/images/pic2.jpg" class="body_img"></img><img alt="Travel Pic 3" src="static/images/pic3.jpg" class="body_img"></img><img alt="Travel Pic 4" src="static/images/pic4.jpg" class="body_img"></img></div></p>
			
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container_div">
		<h4>Credits</h4>
		<p>This site was built on bootstrap and jQuery, and to fulfill course requirements in SI 539 "Complex Websites" with Professor Colleen van Lent.  Image credits: <a href="http://webtreats.mysitemyway.com/category/patterns/">WebTreats</a></p>
	</div>

{% endblock %}