{% extends "base.html" %}

{% block content %}

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container_div">
		<h2>Twitter #Cancer</h2>
		<p>Health data takes many forms across the internet. An emerging area of research examines health-related data on social networking websites. Social networks can be invaluable sources of information regarding health attitudes and beliefs at the population-level. We developed a system to examine these health attitudes on Twitter, utilizing the Twitter API. This project examines one specific area of interest - cancer - as operationalized by specific evidence-based hashtags. Data is gathered in real-time using the Twitter API and Python.  Front-end pages are deployed using Python/Flask/Heroku, and visualized in a user-friendly, intelligible format using HTML, CSS, and Javascript.</p>
		<p>Due to unforseen complications with Javascript, we were not able to make the javascript-based charts function within our custom front-end, which utilized JS heavily to hide and show charts without changing pages.  This is our development template, which is not very fancy.  Please <a href="http://jpgodlew.com/539/twitter">click here</a> to see a working deployment of our beautiful front-end.  See footer link for list of resources utilized.</p>
		
	</div>

{% endblock %}



