{% extends "base.html" %}

{% block content %}

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container_div feed_div">
		<h4>Resources Cited</h4>
		<p>Charts.js - http://chartsjs.org</p>
		<p>Parallax - http://matthew.wagerfield.com/parallax/</p>
		<p>Floating Sidebar - http://www.bootply.com/render/96266</p>
		<p>Bootstrap</p>
		<p>Twitter API</p>
		<p>Class Materials</p>
		<p>Matther S. Katz; Audun Utengen; Patricia F. Anderson; Michael A. Thompson; Deanna J. Attai; Claire Johnston; Don S. Dizon. Disease-Specific Hashtags for Online Communication About Cancer Care. JAMA Oncology. November 05, 2015. doi: 10.1001/jamaoncol/2015.3960</p>
		<p>Wei Xu. Twitter API Tutorial.  Social Media and Text Analytics. July 1, 2015. http://socialmedia-class.org/twittertutorial.html</p>
		
	</div>
{% endblock %}



