<!DOCTYPE html>
<html>
<head>
<title>Cancer Awareness Tweets</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../static/style.css">

</head>

<body>

<!--top nav-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div>
        <ul class="nav navbar-nav pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
  </nav>


<!--jumbotron-->
<div class=jumbotron>
  <div class="container-fluid">
  <h1>Cancer Awareness Tweets</h1>
  <p>How do cancer awareness months actually affect awareness on social media?</p>
  </div>
</div>

<section class="mainrow">

  <!-- sidebar http://www.bootply.com/render/96266-->
  <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

      <ul class="nav">
      <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
    </ul>

      <ul class="nav hidden-xs" id="lg-menu">
          <h3>Hashtags</h3>
          <li {% if name == "bcsm" %} class = "active" {% endif %}><a href="bcsm"><i class="glyphicon glyphicon-heart"></i> Breast Cancer</a></li>
          <li {% if name == "pcsm" %} class = "active" {% endif %}><a href="pcsm"><i class="glyphicon glyphicon-tree-deciduous"></i> Prostate Cancer</a></li>
          <li {% if name == "lcsm" %} class = "active" {% endif %}><a href="lcsm"><i class="glyphicon glyphicon-leaf"></i> Lung Cancer</a></li>
          <li {% if name == "blcsm" %} class = "active" {% endif %}><a href="blcsm"><i class="glyphicon glyphicon-tint"></i> Bladder Cancer</a></li>
          <!-- <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Refresh</a></li> -->
      </ul>


      <!-- tiny only nav-->
    <ul class="nav visible-xs" id="xs-menu">
          <li><a href="#featured" class="text-center"><i class="glyphicon glyphicon-heart"></i></a></li>
          <li><a href="#stories" class="text-center"><i class="glyphicon glyphicon-tree-deciduous"></i></a></li>
          <li><a href="#" class="text-center"><i class="glyphicon glyphicon-leaf"></i></a></li>
          <li><a href="#" class="text-center"><i class="glyphicon glyphicon-tint"></i></a></li>
      </ul>

  </div>
  <!-- /sidebar -->

<!-- viz nav -->
<!-- <div class= "column col-sm-10 col-xs-11">
<div class="container" id="vizNav">
  <ul class="nav nav-pills nav-justified">
    <li><a href="#">Over last week</a></li>
    <li><a href="#">Compared to total</a></li>
  </ul>
</div> -->

<div class= "column col-sm-10 col-xs-11">
<div class="container" id="vizNav">
  <ul class="nav nav-pills nav-justified">
    <li onclick="document.getElementById('vizchange').innerHTML=document.getElementById('Viz1').innerHTML;"><a href="#1">Over last week</a></li>
    <li onclick="document.getElementById('vizchange').innerHTML=document.getElementById('Viz2').innerHTML;"><a href="#2">Compared to total</a></li>
  </ul>
</div>


  <div class="vizdata" id="vizchange">

  </div>
  <div id="Viz1" style="visibility: hidden;">
    {% if name == "bcsm" %}
      {% block bcsmViz1 %}
      {% endblock %}
    {% endif %}

    {% if name == "blcsm" %}
      {% block blcsmViz1 %}
      {% endblock %}
    {% endif %}

    {% if name == "lcsm" %}
      {% block lcsmViz1 %}
      {% endblock %}
    {% endif %}

    {% if name == "pcsm" %}
      {% block pcsmViz1 %}
      {% endblock %}
    {% endif %}
  </div>
  <div id="Viz2" style="visibility:hidden;">
    {% if name == "bcsm" %}
      {% block bcsmViz2 %}
      {% endblock %}
    {% endif %}

    {% if name == "blcsm" %}
      {% block blcsmViz2 %}
      {% endblock %}
    {% endif %}

    {% if name == "lcsm" %}
      {% block lcsmViz2 %}
      {% endblock %}
    {% endif %}

    {% if name == "pcsm" %}
      {% block pcsmViz2 %}
      {% endblock %}
    {% endif %}

  </div>

<!-- <div class="vizdata" id="images">

  {% if name == "index" %}
    {% block index %}
    {% endblock %}
  {% endif %}

  {% if name == "bcsm" %}
    {% if name == "bcsm" %}
    {% block bcsm %}
    {% endblock %}

    {% block bcsm2 %}
    {% endblock %}
      {% endif %}
  {% endif %}

  {% if name == "blcsm" %}
    {% block blcsm %}
    {% endblock %}
  {% endif %}

  {% if name == "pcsm" %}
    {% block pcsm %}
    {% endblock %}
  {% endif %}

  {% if name == "lcsm" %}
    {% block lcsm %}
    {% endblock %}
  {% endif %} -->




</div>

</div>
</section>

<!-- /viznav -->



<!-- tweets section -->
<section class="mainrow">

  <!-- sidebar http://www.bootply.com/render/96266-->
  <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

      <ul class="nav">
      <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
    </ul>

      <ul class="nav hidden-xs" id="lg-menu">
        <h3>Tweets</h3>
      </ul>


  </div>
  <!-- /sidebar -->

<!-- tweets box -->
<div class= "column col-sm-10 col-xs-11">
<div class="container" id="vizNav"></div>

<div class="vizdata" id="tweets">
  {% if name == "index" %}
    {% block indexTweets %}
    {% endblock %}
  {% endif %}

  {% if name == "bcsm" %}
    {% block bcsmTweets %}
    {% endblock %}
  {% endif %}

  {% if name == "blcsm" %}
    {% block blcsmTweets %}
    {% endblock %}
  {% endif %}

  {% if name == "pcsm" %}
    {% block pcsmTweets %}
    {% endblock %}
  {% endif %}

  {% if name == "lcsm" %}
    {% block lcsmTweets %}
    {% endblock %}
  {% endif %}

</div>

</div>
<!-- tweets box -->
</section>
<!-- tweets section -->
















     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="../static/bootstrap/js/bootstrap.min.js"></script>

<style>
/*http://bootsnipp.com/snippets/KrdmQ*/
/*$(window).resize(function() {
	var path = $(this);
	var contW = path.width();
	if(contW >= 751){
		document.getElementsByClassName("sidebar-toggle")[0].style.left="200px";
	}else{
		document.getElementsByClassName("sidebar-toggle")[0].style.left="-200px";
	}
});
$(document).ready(function() {
	$('.dropdown').on('show.bs.dropdown', function(e){
	    $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
	});
	$('.dropdown').on('hide.bs.dropdown', function(e){
		$(this).find('.dropdown-menu').first().stop(true, true).slideUp(300);
	});
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		var elem = document.getElementById("sidebar-wrapper");
		left = window.getComputedStyle(elem,null).getPropertyValue("left");
		if(left == "200px"){
			document.getElementsByClassName("sidebar-toggle")[0].style.left="-200px";
		}
		else if(left == "-200px"){
			document.getElementsByClassName("sidebar-toggle")[0].style.left="200px";
		}
	});
});*/
<script>

$(document).ready(function(){/* off-canvas sidebar toggle */

$('[data-toggle=offcanvas]').click(function() {
  	$(this).toggleClass('visible-xs text-center');
    $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
    $('.row-offcanvas').toggleClass('active');
    $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
    $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
    $('#btnShow').toggle();
});
});


</script>

</style>

</body>
</html>
