<!DOCTYPE html>
<html>
<head>
<title>Cancer Tweets</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../static/style.css">
<link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon.png">

<style>
#aboutDiv {
  min-height: 800px;
}

#noParallax {
  min-height: 400px;
}

</style>
</head>
<body>
  <nav class="navbar navbar-default">
    <header class="container-fluid">
      <div>
        <ul class="nav navbar-nav pull-right">
          <li><a href="index"">Home</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </div>
    </header>
  </nav>

  <div class="jumbotron parallax-window" data-parallax="scroll" data-image-src="../static/img/sky.jpg">
    <div class="container-fluid">
    <h1>About us</h1>
    <p>Three health informatics students from the University of Michigan</p>
    </div>
  </div>

  <div class="jumbotron" id=noParallax">
    <div class="container-fluid">
    <h3>Jacqueline Fontaine</h3>
    <p>is the best.</p>
    </div>
  </div>
  <div class="jumbotron parallax-window" data-parallax="scroll" data-image-src="../static/img/sky.jpg"></div>
  <div class="jumbotron" id=noParallax">
    <div class="container-fluid">
    <h3>Joe Godlew</h3>
    <p>is the best.</p>
    </div>
  </div>
  <div class="jumbotron parallax-window" data-parallax="scroll" data-image-src="../static/img/sky.jpg"></div>
  <div class="jumbotron" id=noParallax">
    <div class="container-fluid">
    <h3>Lucy Lee</h3>
    <p>is the best.</p>
    </div>

  </div>
  <div class="jumbotron parallax-window" id="aboutDiv" data-parallax="scroll" data-image-src="../static/img/sky.jpg"></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/js/parallax.js"></script>
</body>
